:root {
    --black: black; 
    --dark-grey: rgb(28, 28, 28);
    --light-grey: rgb(86, 86, 86); 
    --green: rgb(25, 44, 20);
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(159, 159, 159);
}

body {
    background-color: var(--dark-grey); 
    height: 100%;
    margin: auto; 
}

header {
  display: flex;
  flex-wrap: wrap;   
  background: rgb(86, 86, 86); 
}

header h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: auto;   
  background-color: rgb(25, 44, 20);
  border-radius: 2.5%;
  height: 90px;
  width: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.header-nav { 
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}


.header-nav a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration:underline;
    text-decoration-thickness: 3px;

}

.header-nav a:hover { 
    font-style: italic;
}

.avatar{
    height: 200px;
    position: relative; 
    margin-left:3%;
    border-radius: 5px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.side-bar {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.main-content { 
    margin: auto;
}


.about-me {
    border-right: 5px solid black;
    height: 190px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 23px;
    margin-top: 15%;
}

.about-me-main {
    width: 890px;
    margin-top: 7%;
}

.work {
    border-right: 5px solid black;
    height: 575px;
    margin-top: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 23px;   
}

.work-grid{
    --num-culs: 2;
    --gap: 16px;
    --row-height: 275px;
    
    box-sizing: border-box;
    margin-top: 11%;
    display: grid;
    grid-template-columns: repeat(var(--num-culs), 1fr);
    grid-auto-rows: var(--row-height); 
    gap: var(--gap); 

}

.work-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col {
    grid-column: span 2;

}

.textbox1 {
    background-color: rgb(28, 28, 28); 
    position: absolute; 
    margin-top: 200px;
    width: 175px;
    border: 2px solid var(--light-grey);
}

.textbox2 {
    background-color: rgb(28, 28, 28); 
    position: absolute; 
    margin-top: 500px;
    width: 175px;
    border: 2px solid var(--light-grey);
}

.textbox3 {
    background-color: rgb(28, 28, 28); 
    position: absolute; 
    margin-top: 500px;
    margin-left: 835px;
    width: 175px;
    border: 2px solid var(--light-grey);
}


.image-border{
   border: 3px solid black; 
}

.image-border:hover{
    opacity: 40%;
}

.contact-info {
    border-right: 5px solid black;
    margin-top: 40%;
    display: flex;
    justify-content:center;
    font-size: 23px;
}

.contact-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12%;
    justify-content: space-between;
}

.contact-nav a {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.contact-nav a:hover {
    font-style:italic;
}
    
.logo {
    height: 125px;
    width: 125px;
    position: relative;
    left: 700px; 
}


@media screen and (max-width: 1260px) {
    p  {
      width: 30px; 
      height: 30px; 
    }
    .main-content {
        width: 800px; 
    }
    .work-grid{
        margin-top: 190px;
    }
    
    .textbox3{
        margin-left: 625px;
    }
  }

  @media screen and (max-width: 1000px) {
     .about-me-main {
        width: 600px;
   }
   
    .main-content {
        width: 600px;
    }


  @media screen and (max-width: 750px) {
    .about-me-main {
        width: 400px;
        height:20px;
   }
   .main-content {
    width: 400px;
}
    .work-grid {
        margin-top: 260px;
    }

    .work {
        margin-top: 100px;
    }

    .contact-nav {
        margin-top: 60px;
    }

  }


  @media screen and (max-width: 500px) {
   .main-content {
      width: 200px;
   }
   
   .about-me{
      margin-top: 20px;
      height: 300px;
    
    
   }
    .about-me-main {
      width: 250px;
      height:20px;
   }

    .work-grid {
     margin-top: 380px;
}

    .work {
      margin-top: 100px;
}

    .textbox1 {
      width: 65px;
}

    .textbox2 {
      width: 65px;
}

    .textbox3 {
      width: 65px;
}
}}